{% extends "base.html" %}
{% block title %} Профайл пользователя {{ post.author.get_full_name  }} {% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Все посты пользователя {{ user.username }} </h1>
        <h3>Всего постов: {{ user.posts.all.count }} </h3>
        {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ user.username }}
              {% if post %}
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
              {% endif %}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text }}
          </p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
        </article>
        {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
        {% endif %}
        <hr>
        {% endfor %}
        {% if not forloop.last %}{% endif %}
        {% include 'posts/includes/paginator.html' %}
      </div>
{% endblock %}